body {
    background-image: url('images/bg.jpg'); /* light green */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* White with 70% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

h1 {
    color: #4CAF50; /* green */
}

.button-container {
    margin-top: 20px;
}

.button {
    background-color: #4CAF50; /* green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005b38; /* darker green on hover */
}
